@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}