@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.list a:focus {
  color: #7a9cbd;
  text-decoration: underline;
  text-decoration-color: #7a9cbd;
  text-decoration-thickness: 1.9px;
  text-underline-offset: 12px;
}

.list a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  transition: color 0.3s;
}

.list a:hover {
  text-decoration: underline;
  text-decoration-color: #7a9cbd;
  text-decoration-thickness: 1.9px;
  text-underline-offset: 12px;
}

.hero {
  width: 100%;
  height: 586px;
  background-color: #f0f4f8;
}

.hero__image-container {
  padding-top: 130px;
}

.hero__image-container img {
  width: 1200px;
  height: 693px;
  border-radius: 40px;
}

.hero__content {
  text-align: center;
  padding-top: 110px;

  .hero__title {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 30px;
  }

  .hero__text {
    font-size: 19px;
    font-weight: 500;
    color: #111111;
    line-height: 38px;
  }

  .hero__button-wrapper {
    padding: 30px;

    .hero__button {
      padding: 22px 57px;
      font-size: 16px;
      font-weight: 600;
      color: #111;
      border: 2px solid #7a9cbd;
      background-color: transparent;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .hero__button:hover {
      background-color: #7a9cbd;
      color: #fff;
    }
  }
}

.performance {
  width: 100%;
  height: 676px;
  background-color: #f0f4f8;
}

.performance__container {
  display: flex;
  gap: 100px;
  padding-top: 100px;
}

.performance__card {
  width: 527px;
  height: 483px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;

  .performance__card-image {
    width: 527px;
    height: 293px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .performance__card-title{
    font-size: 22px;
    font-weight: 600;
    padding: 30px;
  }

  .performance__card-text{
    font-size: 18px;
    font-weight: 500;
    color: #111111;
  }
}

.performance__content{
  padding: 32px;

  .performance__title{
    font-size: 43px;
    font-weight: 600;
    padding-bottom: 30px;
  }

  .performance__text{
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    line-height: 33px;
    padding-bottom: 55px;
  }

  .performance__button{
    padding: 22px 57px;
    font-size: 16px;
    font-weight: 600;
    color: #111;
    text-decoration: none;
    border: 2px solid #7a9cbd;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #7a9cbd;
      color: #fff;
    }
  }
}