@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family:
    open sans,
    sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  ul {
    display: flex;
    list-style: none;

    li {
      margin-left: 20px;

      a {
        text-decoration: none;
        color: #333;
        font-size: 17px;
        font-weight: 700;
        transition: color 0.3s;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #7a9cbd;
          text-decoration-thickness: 1.9px;
          text-underline-offset: 12px;
        }

        &:focus {
          color: #7a9cbd;
          text-decoration: underline;
          text-decoration-color: #7a9cbd;
          text-decoration-thickness: 1.9px;
          text-underline-offset: 12px;
        }
      }
    }
  }
}
