@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 33px;
}

.list a:focus {
  color: #7a9cbd;
  text-decoration: underline;
  text-decoration-color: #7a9cbd;
  text-decoration-thickness: 1.9px;
  text-underline-offset: 12px;
}

.list a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  transition: color 0.3s;
}

.list a:hover {
  text-decoration: underline;
  text-decoration-color: #7a9cbd;
  text-decoration-thickness: 1.9px;
  text-underline-offset: 12px;
}

.hero {
  width: 100%;
  height: 586px;
  background-color: #f0f4f8;
}

.hero__image-container {
  padding-top: 130px;
}

.hero__image-container img {
  width: 1200px;
  height: 693px;
  border-radius: 40px;
}

.hero__content {
  text-align: center;
  padding-top: 110px;
}
.hero__content .hero__title {
  font-size: 60px;
  font-weight: 500;
  padding-bottom: 30px;
}
.hero__content .hero__text {
  font-size: 19px;
  font-weight: 500;
  color: #111111;
  line-height: 38px;
}
.hero__content .hero__button-wrapper {
  padding: 30px;
}
.hero__content .hero__button-wrapper .hero__button {
  padding: 22px 57px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  border: 2px solid #7a9cbd;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero__content .hero__button-wrapper .hero__button:hover {
  background-color: #7a9cbd;
  color: #fff;
}

.performance {
  width: 100%;
  height: 676px;
  background-color: #f0f4f8;
}

.performance__container {
  display: flex;
  gap: 100px;
  padding-top: 100px;
}

.performance__card {
  width: 527px;
  height: 483px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
}
.performance__card .performance__card-image {
  width: 527px;
  height: 293px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.performance__card .performance__card-title {
  font-size: 22px;
  font-weight: 600;
  padding: 30px;
}
.performance__card .performance__card-text {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
}

.performance__content {
  padding: 32px;
}
.performance__content .performance__title {
  font-size: 43px;
  font-weight: 600;
  padding-bottom: 30px;
}
.performance__content .performance__text {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
  line-height: 33px;
  padding-bottom: 55px;
}
.performance__content .performance__button {
  padding: 22px 57px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  text-decoration: none;
  border: 2px solid #7a9cbd;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.performance__content .performance__button:hover {
  background-color: #7a9cbd;
  color: #fff;
}

.healthy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 680px;
  background-color: #f0f4f8;
  z-index: -1;
  border-radius: 40px 40px 0 0;
}

.healthy {
  position: relative;
  width: 100%;
  padding: 60px 0;
}
.healthy .healthy__content {
  text-align: center;
}
.healthy .healthy__content .healthy__title {
  font-size: 50px;
  font-weight: 500;
  padding: 20px;
}
.healthy .healthy__content .healthy__text {
  font-size: 17px;
  color: #111111;
  line-height: 33px;
}
.healthy .healthy__content .healthy__text .healthy__link {
  color: #111111;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* qalinligi */
  text-underline-offset: 4px; /* pastga tushirish */
}
.healthy .healthy__content .healthy__text .healthy__link:hover {
  text-decoration-color: red;
}

.healthy__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding-top: 50px;
}

.healthy__card {
  width: 380px;
  height: 520px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 29px;
}
.healthy__card img {
  width: 320px;
  height: 232px;
  border-radius: 30px;
}
.healthy__card h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 30px;
}
.healthy__card p {
  font-size: 17px;
  color: #111111;
  line-height: 33px;
}

.healthy__button-wrapper {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.healthy__button-wrapper .healthy__button {
  padding: 22px 57px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  padding-bottom: 20px;
  text-decoration: none;
  border: 2px solid #7a9cbd;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.healthy__button-wrapper .healthy__button:hover {
  background-color: #7a9cbd;
  color: #fff;
}

.why__container {
  display: flex;
  gap: 100px;
}

.why__content {
  width: 421px;
  height: 420px;
  padding-top: 50px;
}
.why__content .why__title {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 20px;
}
.why__content .why__text {
  font-size: 19px;
  color: #111111;
  line-height: 33px;
  padding-bottom: 50px;
}
.why__content .why__link {
  padding: 22px 57px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  text-decoration: none;
  border: 2px solid #7a9cbd;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.why__content .why__link:hover {
  background-color: #7a9cbd;
  color: #fff;
}

.why__card {
  width: 324px;
  height: 326px;
  padding: 30px;
  border-radius: 40px;
  border: 3px solid #D9D9D9;
}
.why__card .why__card-title {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 35px;
}
.why__card .why__card-text {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  line-height: 35px;
}

/*# sourceMappingURL=style.css.map */
