@media (max-width: 768px) {
    ul li {
        display: none;
    }

    .container {
        max-width: 340px;
    }

    .menu {
        display: block;
    }

    .menu img{
        width: 25px;
    }

    .hero-title {
        font-size: 35px;
        font-family: "san-serif";
    }

    .hero-subtitle {
        text-align: center;
        text-align-last: center;
    }

    .hero-button {
        display: block;
    }

    .hero-core {
        display: none;
    }

    .hero-core {
        display: none;  /* Kichik ekranda asosiy rasm yashiriladi */
    }

    .hero-core1 {
        display: block; /* Kichik ekranda responsive rasm ko'rinadi */
        margin-top: 70px;
        overflow: hidden;
    }

    /* Rasm hajmini moslashtirish uchun qo'shimcha kod */
    .hero-core1 img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .cards {
        margin-top: -570px;
    }

    .ourstory .container {
        flex-direction: column; /* Telefonda rasm tepada, matn pastda bo'ladi */
        text-align: center;
    }
    
    .left-story-page {
        display: flex;
        flex-direction: column;
        align-items: center; /* Telefonda tugmani ham markazga oladi */
    }

    .right-story-page img {
        left: 0px;
    }

    .our-story-title {
        font-size: 40px;
        font-family: "sans-serif";
        margin-left: -180px;
    }

    .left-story-subtitile {
        text-align-last: left;
        text-align: left;
    }

    .ourstory-btn {
        position: relative;
        left: -53px;
    }

    .agency-section__grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "img1"
            "planning"
            "img3"
            "buildings"
            "img2"
            "projects";
    }
    
    /* Balandliklarni moslashtiramiz */
    .agency-section__item--main-img {
        height: 300px;
    }
    
    .agency-section__item--text {
        height: auto;
        min-height: 250px;
    }

    .agency-section__grid {
        grid-template-columns: 1fr;
        /* Telefonda hamma element ketma-ket (pastma-past) turadi */
        grid-template-areas: 
            "img1"
            "buildings"
            "planning"
            "img2"
            "img3"
            "projects";
    }

    .large-img {
    margin-top: 0px;
}

    .agency-section__card-title {
        position: relative;
        left: -20px;
    }

    .agency-section__item--projects img {
         position: relative;
        left: -20px;
    }

    .agency-section__card-desc {
         position: relative;
        left: -20px;
    }

    .agency-section__item--planning img {
          position: relative;
        left: -20px;
    }

    .agency-section__item--buildings img{
          position: relative;
        left: -20px;
    }

    .Architectural {
        font-size: 34px;
        font-family: "san-serif";
    }

    .archittectural-subtitle {
        font-size: 14px;
        line-height: 2.0;
        margin-bottom: -70px;
    }

    .agency-section__item {
        width: 340px;
        border-radius: 30px;
    }

    .testimonials__title {
        font-size: 40px;
        font-family: "sans-serif";
    }

    .testimonials__grid {
        grid-template-columns: 1fr; /* Ustunni bitta qilib qo'yamiz */
    }

    /* 2- va 3-kartalarni yashirish */
    .testimonials__card:nth-child(2),
    .testimonials__card:nth-child(1) {
        display: none;
    }

    .core-info__row {
        grid-template-columns: 1fr; 
        gap: 20px;
        margin-bottom: 50px;
        display: flex; /* Flex ishlatish tartibni boshqarish (order) uchun osonroq */
        flex-direction: column;
        align-items: center;
    }

    /* 2. Bo'sh ustunlarni yashiramiz */
    .core-info__col {
        display: none;
    }

    /* 3. Matnlarni markazga tekislaymiz */
    .core-info__text-wrap, 
    .core-info__text-wrap--left {
        text-align: center;
        order: 2; /* Matn doim rasmdan keyin kelsin */
    }

    /* 4. Rasmni tartibini birinchi qilamiz */
    .core-info__image-wrap {
        order: 1; /* Rasm matndan tepada turadi */
        width: 100%; /* Mobilda rasm biroz kattaroq ko'rinishi uchun */
        max-width: 400px;
        height: 250px;
    }

    /* 5. <br> teglari mobilda matnni xunuk qilib qo'ymasligi uchun */
    .core-info__desc br {
        display: none;
    }

    .core-info__title {
        font-size: 24px;
        margin-top: 15px;
        font-family: "serif";
        position: relative;
        left: -120px;
    }

    .left-50 {
          left: -104px;
    }

    .left-core-title {
        position: relative;
        left: 105px;
    }

    .core-info__desc {
        color: #111;
        text-align: left;
    }

    .left-desc {
        text-align: right;
    }
    
    .projects-section__title-resp {
        font-size: 40px;
        font-weight: 500;
        margin-top: -30px;
        font-family: "san-serif";
        display: block;
    }

    .projects-section__title {
        display: none;
    }

    .projects-section__subtitle {
        font-size: 20px;
        line-height: 2.0;
    }

    .projects-section__title {
        display: none; /* Katta sarlavhani yashiramiz */
    }
    
    .projects-section__title-resp {
        display: block; /* Mobil sarlavhani ko'rsatamiz */
    }

    .projects-section__grid {
        grid-template-columns: 1fr; /* 1 ta ustun */
        gap: 40px;
    }

    .projects-section__card {
        max-width: 450px;
        margin: 0 auto;
    }
    
    
}